.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.search-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 0 2rem;
  height: 4rem;
}

.search-box > div {
  display: flex;
  gap: 10px;
}

.search {
  display: block;
  width: 150%;
  border: none;
  border-radius: calc(0.5 * 100px);
  font-size: 1.3rem;
  padding: 8px 20px;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin-top: 5rem;
}

.africa-population {
  font-size: 1.2rem;
}
