* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(236, 76, 138);
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #fff;
}
