* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(236, 76, 138);
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

.color {
  color: #ec4c8a;
}
